body { 
  font-family: sans-serif; 
  width: 50%; 
  margin: 0 auto; 
  padding: 20px; 
}

.word-card {
  background-color: #2080ef;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
